
<div class="flex flex-wrap justify-center">
  <p-card class="self-center" styleClass="w-full max-w-md">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex-col items-center">
        <img 
          class="w-20 mb-5 mx-auto"
          src="assets/images/AMSA_logo_1024.png" 
          title="AMSA Logo"
        >
      <div class="w-full mb-3">
        <label for="email-input" class="block mb-2">E-mail</label>
        <input id="email-input" pInputText type="text" formControlName="email" autocomplete="email" placeholder="Email" class="w-full"/>
        <small class="text-red-500" *ngIf="email?.invalid && email?.touched">{{getEmailErrorMessage()}}</small>
      </div>
      <div class="w-full mb-3">
        <label for="password-input" class="block mb-2">Password</label>
        <input id="password-input" pInputText placeholder="Password" formControlName="password" type="password" class="w-full">
        <small class="text-red-500" *ngIf="password?.invalid && password?.touched">{{getPasswordErrorMessage()}}</small>
      </div>
      <p-button type="submit" [label]="(translationText$ | async)?.login" [disabled]="loginForm.invalid" styleClass="w-full"></p-button>
    </form>
    <div class="flex flex-row mt-4">
      <div class="basis-1/2">
        <!-- <a routerLink="/auth/verify/email" class="left-0">{{(translationText$ | async).verify}}</a> -->
         <a routerLink="forgot" class="left-0 text-blue-600 hover:underline">Forgot Password</a>
      </div>
      <div class="basis-1/2 text-right">
        <a routerLink="/auth/signup" class="right-0 text-blue-600 hover:underline">{{(translationText$ | async).signUp}}</a>
      </div>
    </div>
  </p-card>
</div>

