<div class="flex justify-center">
  <div>
    <div class="block mat-elevation-z1" routerLink="buop">
      <button mat-button color="primary">BUOP</button>
    </div>
    <div class="block mat-elevation-z1" routerLink="agm">
      <button mat-button color="primary">AGM</button>
    </div>
  </div>

  <div>
    <div class="block mat-elevation-z1" routerLink="podcast" fxLayoutAlign="center">
      <button mat-button color="primary">Podcasts</button>
    </div>
    <div class="block mat-elevation-z1" routerLink="case-competition">
      <button mat-button color="primary">Case Competition</button>
    </div>
  </div>

</div>