<h1 class="mb-8 text-4xl font-bold">AMSA Podcast Series</h1>
<div class="podcast flex flex-col justify-center">
  <p-card class="w-full mb-6 shadow-xl">
    <iframe src="https://creators.spotify.com/pod/profile/amox/embed/episodes/Curiosity-Corner-7-Overcoming-fatigue--making-full-use-of-resources-at-university--and-application-tips-with-Tsogt-Lafayette-College-and-Tuvshinzaya-University-of-Washington-e2tm7b1" height="152px" width="100%" frameborder="0" scrolling="no" class="w-full"></iframe>
  </p-card>
  <p-card class="w-full mb-6 shadow-xl">
    <iframe src="https://creators.spotify.com/pod/profile/amox/embed/episodes/Curiosity-Corner-6-Finding-your-passion-and-the-application-process-with-Saran-Bayarsaikhan--Johns-Hopkins-University-Class-of-2027-e2t7hs9/a-abnfeaj" height="152px" width="100%" frameborder="0" scrolling="no" class="w-full"></iframe>
  </p-card>
  <p-card class="w-full mb-6 shadow-xl">
    <iframe src="https://creators.spotify.com/pod/profile/amox/embed/episodes/Curiosity-Corner-5-Taking-a-gap-year-and-deciding-to-study-abroad-with-Mary-Batnasan--Whitman-College-Class-of-2028-e2sqgo8/a-abmv91o" height="152px" width="100%" frameborder="0" scrolling="no" class="w-full"></iframe>
  </p-card>
  <p-card class="w-full mb-6 shadow-xl">
    <iframe src="https://creators.spotify.com/pod/profile/amox/embed/episodes/Curiosity-Corner-4-Planting-6000-trees-and-choosing-universities-with-Uyanga-Nasanjargal--University-of-Denver-Class-of-2028-e2sh8lb/a-abmjnk8" height="152px" width="100%" frameborder="0" scrolling="no" class="w-full"></iframe>
  </p-card>
  <div style="margin-bottom: 40px; margin-top: 10px; margin-left: 160px; margin-right: 160px;" class="flex justify-center">
    <a mat-raised-button color="primary" href="https://creators.spotify.com/pod/profile/amox"
      target="_blank">More Episodes</a>
  </div>
</div>