<h2 class="text-2xl font-bold mb-4">{{message}}</h2>

<div *ngIf="type === 2">
  <div class="mb-4">Please wait at least a minute to send it again</div>
  <p-button label="Send Again" (onClick)="sendEmail()"></p-button>
</div>

<div *ngIf="type === 3" class="flex gap-3 items-end">
  <div class="flex flex-col">
    <label for="email-input" class="mb-2">Email</label>
    <input id="email-input" pInputText placeholder="Email" [(ngModel)]="email" class="w-full">
  </div>
  <p-button label="Send Again" (onClick)="sendEmail()"></p-button>
</div>


<div class="mt-8">
  Click <a routerLink="/auth/login" class="text-blue-600 hover:underline">here</a> to login
</div>
